* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.fullWidth {
  width: 100%;
}

.header_container {
  z-index: -1;
  animation: shrink 20s infinite alternate;
  -webkit-animation: shrink 20s infinite alternate linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/Triune-banner.jpeg?raw=true");
  background-size: cover;
}

.header_container-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.header_bannerImage {
  height: 100%;
  width: 100%;
}

.header_sloagan {
  font-size: 4em;
  text-align: center;
  color: white;
  padding: 22% 8% 0;
  font-family: helvetica;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_slogan-subLine {
  font-size: 3em;
  text-align: center;
  color: white;
  padding: 10% 10% 0;
  font-family: helvetica;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_button {
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  text-align: center;
  font-size: 5em;
  color: orange;
}

.header_button:hover {
  color: rgb(13, 64, 281);
}

.menu {
  width: 100%;
  height: 6em;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
}

.menu-container {
  width: 100%;
  z-index: 99999;
  position: fixed;
}

.menu-logoImg {
  height: 6em;
}

.menuLinks {
  font-size: 1.3em;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  font-family: avenir-light;
  font-weight: 100;
}

.menu_LinkContainer {
  display: inline-block;
}

.menu-topBar {
  display: inline-block;
  height: 3em;
  background-color: rgb(13, 64, 281);
}

.menu-topBar-quote {
  color: white;
  text-align: right;
  text-align: -webkit-right;
  line-height: 3em;
  padding-right: 5%;
}

.hide {
  display: none;
}

.resp-section {
  width: 100%;
  height: 37em;
  text-align: center;
  /*background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/responsive_background.jpg?raw=true");*/
}

.resp-section-overlay {
  width: 100%;
  height: 100%;
}

.resp-title {
  font-family: avanir-light;
  font-weight: 100;
  font-size: 3em;
  color: rgb(13, 64, 281);
  padding-top: 5%;
}

.resp-content-container {
  display: flex;
  text-align: center;
  margin: 5%;
}

.resp_text-div {
  border-right: dotted rgb(13, 64, 281) 3px;
  font-family: avenir-light;
  display: inline-block;
  color: rgb(247, 53, 29);
  font-size: 1.8em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
}

.resp_text-div h3 {
  margin-bottom: 5%;
}

.resp_text-div p {
  text-align: left;
  padding-left: 17%;
}

.resp-Image {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.resp-Image img {
  width: 100%;
}

.resp-device-list {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 2em;
}

.resp-device-list p {
  display: inline-block;
  margin: 3%;
}

.resp-page-link:hover {
  color: rgb(247, 53, 29);
}

.three-in-one-container {
  height: 17em;
  background-color: rgb(247, 53, 29);
  margin-top: -2%;
  text-align: center;
  text-align: -webkit-center;
}

.three-in-one-div {
  margin-top: 5%;
  color: white;
  width: 30%;
  height: auto;
  display: inline-block;
}

.three-in-one-div span {
  color: gold;
}
