* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.FP-1st-section {
  width: 100%;
  height: 40em;
  text-align: center;
  background-color: rgb(247, 53, 29);
}

.FP-1st-section-overlay {
  width: 100%;
  height: 40em;
}

.FP-1st-title {
  font-family: avanir-light;
  font-weight: 100;
  font-size: 3em;
  color: white;
  padding-top: 5%;
}

.FP-1st-responsive_text-div {
  color: white;
  font-size: 1.5em;
  width: 50%;
  margin-left: 0;
  padding: 5%;
}

.fullWidth {
  width: 100%;
}

.header_container {
  animation: shrink 20s infinite alternate;
  -webkit-animation: shrink 20s infinite alternate linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/Triune-banner.jpeg?raw=true");
  background-size: cover;
}

.header_container-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.header_bannerImage {
  height: 100%;
  width: 100%;
}

.header_sloagan {
  font-size: 4em;
  text-align: center;
  color: white;
  padding: 10% 8% 0;
  font-family: helvetica;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_slogan-subLine {
  font-size: 3em;
  text-align: center;
  color: white;
  padding: 10% 10% 0;
  font-family: helvetica;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_button {
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  text-align: center;
  font-size: 5em;
  color: orange;
}

.header_button:hover {
  color: rgb(13, 64, 281);
}

.menu {
  width: 100%;
  height: 6em;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
}

.menu-logoImg {
  height: 6em;
}

.menuLinks {
  font-size: 100%;
  color: white;
  margin-left: 8%;
  margin-right: 8%;
}

.menu_LinkContainer {
  display: inline-block;
}

.menu-topBar {
  height: 3em;
  background-color: rgb(13, 64, 281);
}

.menu-topBar-quote {
  color: white;
  text-align: right;
  text-align: -webkit-right;
  line-height: 3em;
  padding-right: 5%;
}

.hide {
  display: none;
}
