* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;
}

p h1 h2 h3 h4 div {
  font-family: avenir-light;
  font-weight: 100;
}

.aboutus-banner {
  height: 30em;
  width: 100%;
}

.footer_section {
  text-align: center;
  background-color: black;
  height: auto;
  padding-top: 2%;
  width: 100%;
}

.footer_section img {
  height: 5em;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.footer_content-container {
  width: 100%;
  height: 100%;
}

.footer_copyright {
  margin-bottom: 0;
  margin-top: 5%;
  font-family: avenir-light;
  font-weight: 100;
  color: lightgrey;
  width: 100%;
  height: auto;
}

.footer_menu-items {
  text-align: center;
  font-family: avenir-light;
  font-weight: 100;
  font-size: 1.2em;
  width: 100%;
  height: auto;
}

.footer_menu-items a {
  color: white;
  margin-left: 3%;
  margin-right: 6%;
}

.footer_icons-links {
  display: inline-block;
  margin-left: 5%;
}

.footer_icons-links p {
  color: lightgrey;
  display: inline-block;
}

.footer_socialMedia-icons {
  width: 100%;
  height: auto;
  margin: 0;
}

.footer_socialMedia-icons img {
  display: inline-block;
  margin: 4% 1% 0;
  height: 3.5em;
}

.frontPage_customer-note {
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.frontpage_customer-content {
  width: 100%;
  height: 100%;
  font-size: 2em;
  color: white;
  text-align: center;
}

.frontpage_customer-content div {
  display: inline-block;
  width: 50%;
  padding: 2%;
  font-family: avenir-light;
  font-weight: 100;
  vertical-align: middle;
}

.frontpage_contact-Link {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}

.fullWidth {
  width: 100%;
}

.header_container {
  z-index: -1;
  animation: shrink 20s infinite alternate;
  -webkit-animation: shrink 20s infinite alternate linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/Triune-banner.jpeg?raw=true");
  background-size: cover;
}

.header_container-overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.header_bannerImage {
  height: 100%;
  width: 100%;
}

.header_sloagan {
  font-size: 4em;
  text-align: center;
  color: white;
  padding: 22% 8% 0;
  font-family: avenir-light;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_slogan-subLine {
  font-size: 3em;
  text-align: center;
  color: white;
  padding: 10% 10% 0;
  font-family: helvetica;
  font-weight: 400;
  animation: fadeInLeft 1.5s;
  -webkit-aniamations: fadeInLeft 1.5s;
  animation-delay: 2s;
}

.header_button {
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  text-align: center;
  font-size: 5em;
  color: rgb(247, 53, 29);
}

.header_toTop-div {
  background-color: rgb(0,0,0);
  padding-left: .5%;
  padding-right: .5%;
  font-size: 2em;
  bottom: 1%;
  right: 1%;
  position: fixed;
  z-index: 99999;
  color: rgb(253,54,29);
}

.menu {
  width: 100%;
  height: 6em;
  background-color: rgba(0,0,0,0.6);
  display: inline-block;
}

.menu_nav {
  width: 100%;
}

.menu-container {
  width: 100%;
  z-index: 99999;
  position: absolute;
}

.menu-container:hover {
  transition: .5s;
  background-color: rgba(0,0,0,1);
}

.menu-logoImg {
  height: 6em;
}

.menuLinks {
  font-size: 1.2em;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  font-family: avenir-light;
  font-weight: 100;
}

.menu_LinkContainer {
  display: inline-block;
  width: 60%;
}

.menu-topBar {
  display: inline-block;
  height: 3em;
  background-color: rgb(13, 64, 281);
}

.menu-topBar-quote {
  color: white;
  text-align: right;
  text-align: -webkit-right;
  line-height: 3em;
  padding-right: 5%;
}

.hide {
  display: none;
}

.management_section {
  background-attachment: fixed;
  border-top: double 12px black;
  background-size: cover;
  height: auto;
  width: 100%;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/managment-section.jpeg?raw=true");
}

.management_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.management-title-container {
  color: white;
  text-align: center;
  padding-top: 5%;
}

.management-title-container h3 {
  font-weight: 100;
  font-size: 3em;
}

.management-content-container {
  text-align: center;
  margin: 5% 5% 0 5%;
  background-color: rgba(13, 64, 281,0.5);
  height: 9em;
}

.management-content-container p {
  word-spacing: 4px;
  padding: 2%;
  color: white;
  font-size: 2em;
  font-weight: 100;
}

.management_tile-container {
  text-align: center;
  display: inline-block;
  font-size: 2em;
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin: 0 5% 5%;
}

.management_tile-container p {
  word-spacing: 4px;
  display: inline-block;
  margin: 2%;
  font-weight: 100;
}

.resp-section {
  width: 100%;
  height: auto;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/resp-section-devices.jpg?raw=true");
}

.resp-section-overlay {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

.resp-title {
  font-weight: 100;
  font-size: 3em;
  color: white;
  padding-top: 5%;
}

.resp-content-container {
  text-align: center;
  margin: 5%;
}

.resp_tile-container {
  text-align: center;
  font-family: avenir-light;
  display: inline-block;
  color: white;
  font-size: .8em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  background: rgba(13, 64, 281,0.5);
  padding: 3% 3% 0 3%;
}

.resp_tile-container h3 {
  margin-bottom: 5%;
}

.resp_text-div {
  vertical-align: text-top;
  display: inline-block;
  width: 32%;
  height: auto;
  font-size: 1.1em;
}

.resp_text-div h3 {
font-size: 1.7em;
}

.resp_text-div p {
font-size: 1.2em;
padding: 6%;
}

.resp-Image img {
  width: 100%;
}

.resp-device-list {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  display: inline-block;
  color: white;
  font-size: 2em;
  font-family: avenir-light;
}

.resp-device-list p {
  display: inline-block;
  margin: 3%;
}

.SEO_section {
  border-top: double black 12px;
  background-image: url("https://github.com/luciogutz/Triune/blob/master/public/assets/SEO-BG-image.jpeg?raw=true");
  background-size: cover;
  height: auto;
  background-attachment: fixed;
}

.SEO-content-container {
  word-spacing: 4px;
  height: 10em;
  text-align: center;
  background-color: rgba(253, 54, 29, 0.6);
  margin: 5%;
  font-weight: 100;
  margin-bottom: 0;
}

.SEO-content-list-container {
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 1.6em;
  display: inline-block;
  margin: 0 5% 6%;
  background-color: rgba(0,0,0,0.5);
}

.SEO-content-list-container p {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

.SEO-content-list-container div {
  display: inline-block;
  text-align: center;
  width: 50%;
  padding-top: 2%;
  padding-bottom: 2%;
  word-spacing: 4px;
}

.SEO-content-container p {
  padding-top: 1%;
  color: white;
  font-size: 2em;
}

.SEO_section-overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.SEO-title-container {
  color: white;
  text-align: center;
  padding-top: 5%;
}

.SEO-title-container h3 {
  font-size: 3em;
  font-weight: 100;
}

.three-in-one-container {
  height: 17em;
  margin-top: -3.8%;
  text-align: center;
  text-align: -webkit-center;
  background-color: rgb(253, 54, 29);
}

.three-in-one-div {
  margin-top: 5%;
  color: white;
  width: 33%;
  height: auto;
  display: inline-block;
  padding: 1%;
}

.three-in-one-div span {
  color: gold;
}
